body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  overflow: hidden; }

.flow-dendrogram {
  --stroke-color: #333;
  box-sizing: border-box;
  outline: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .flow-dendrogram *,
  .flow-dendrogram *::after,
  .flow-dendrogram *::before {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    list-style: none; }
  .flow-dendrogram ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 0; }
    .flow-dendrogram ul:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0.5rem;
      width: 1rem;
      border-top: 4px solid var(--stroke-color, #000); }
  .flow-dendrogram > ul {
    padding: 0; }
  .flow-dendrogram li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: .5rem 1rem .5rem 3rem; }
    .flow-dendrogram li:before {
      content: '';
      position: absolute;
      top: 0;
      left: 1.5rem;
      height: 100%;
      border-left: 4px solid var(--stroke-color, #000); }
    .flow-dendrogram li:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 1.5rem;
      width: 1rem;
      border-top: 4px solid var(--stroke-color, #000); }
    .flow-dendrogram li:first-child:before {
      top: 50%;
      height: 50%; }
    .flow-dendrogram li:last-child:before {
      bottom: 50%;
      height: 50%; }
    .flow-dendrogram li:only-child:before {
      display: none; }
  .flow-dendrogram > li {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%; }
    .flow-dendrogram > li:before, .flow-dendrogram > li:after {
      display: none; }

.couple {
  position: relative; }
  .couple::after {
    border-left: 4px solid var(--stroke-color, #000);
    content: '';
    height: 100%;
    left: 6.5rem;
    position: absolute;
    bottom: 0; }

.line {
  border-left: 4px solid var(--stroke-color, #000);
  content: '';
  height: 70%;
  left: 9.5rem;
  position: absolute;
  bottom: 0; }

.parent2 .line {
  border-left: 4px dashed var(--stroke-color, #000);
  content: '';
  height: 50%;
  left: 9.5rem;
  position: absolute;
  top: 0;
  bottom: auto; }

.parent2::after {
  display: none; }

.parents {
  position: relative; }
  .parents-item {
    background: #fff;
    width: 13rem;
    position: relative;
    border: 1px solid #aaa;
    padding: 0.62rem;
    text-align: center;
    margin-top: 0.62rem;
    z-index: 1; }
    .parents-item:first-child {
      margin-top: 0; }
  .parents-item-name {
    font-size: 1.2rem;
    padding: 0 0 0.2rem;
    font-weight: 700; }
  .parents-item-fullname {
    color: #aaa;
    font-size: 0.75rem; }
  .parents-item-dates {
    color: #aaa;
    font-size: 0.75rem; }

.viewport {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }
