body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
}

$stroke-width: 4px;

.flow-dendrogram {
    --stroke-color: #333;
    box-sizing: border-box;
    outline: none;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0;
    padding: 0;
    list-style: none;
    text-align: center;

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        outline: none;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &:first-child {
        margin-top: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        padding: 0;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0.5rem;
            width: 1rem;
            border-top: $stroke-width solid var(--stroke-color, #000);
        }
    }

    > ul {
        padding: 0;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding: .5rem 1rem .5rem 3rem;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 1.5rem;
            height: 100%;
            border-left: $stroke-width solid var(--stroke-color, #000);
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 1.5rem;
            width: 1rem;
            border-top: $stroke-width solid var(--stroke-color, #000);
        }

        &:first-child {
            &:before {
                top: 50%;
                height: 50%;
            }
        }

        &:last-child {
            &:before {
                bottom: 50%;
                height: 50%;
            }
        }

        &:only-child {
            &:before {
                display: none;
            }
        }

        &.parent2 {
            padding-top: 0.65rem !important;
        }

        &.parent2 > .line {
            border-left: $stroke-width dashed var(--stroke-color, #000);
            content: '';
            height: 50%;
            left: 6.5rem + 3rem;
            position: absolute;
            top: -0.5rem;
            bottom: auto;
        }

        &.parent2::after {
            display: none;
        }

        &.m-last ~ .parent2::before {
            display: none;
        }
    }

    > li {
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;

        &:before,
        &:after {
            display: none;
        }
    }
}

.couple {
    position: relative;

    &::after {
        border-left: $stroke-width solid var(--stroke-color, #000);
        content: '';
        height: 100%;
        left: 6.5rem;
        position: absolute;
        bottom: 0;
    }
}

.line {
    border-left: $stroke-width dashed var(--stroke-color, #000);
    content: '';
    height: 50%;
    left: 6.5rem + 3rem;
    position: absolute;
    bottom: 0;
}

.parents {
    position: relative;

    &-item {
        background: #fff;
        width: 13rem;
        position: relative;
        border: 1px solid #aaa;
        padding: 0.62rem;
        text-align: center;
        margin-top: 0.62rem;
        z-index: 1;

        &:first-child {
            margin-top: 0;
        }

        &.m-link {
            border: 2px solid #888;

            &:hover {
                border: 2px solid #aaa;
                background: #eee;
            }
        }
    }

    &-item-link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 0;

        &::after {
            content: '';
            position: absolute;
            left: 0.2rem;
            top: 0.2rem;
            width: 1.2rem;
            height: 1.2rem;
            background: url('../images/corner-up-left.svg') left top no-repeat;
            background-size: contain;
        }
    }

    &-item-name {
        font-size: 1.1rem;
        font-weight: 700;
    }

    &-item-fullname {
        color: #aaa;
        padding: 0.1rem 0 0;
        font-size: 0.75rem;
    }

    &-item-dates {
        color: #aaa;
        padding: 0.1rem 0 0;
        font-size: 0.75rem;
    }
}

.viewport {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background: #fafafa;
}

.other {
    background: #eee;
}

.content {
    padding: 5vh 10vw;
}

h1 {
    position: fixed;
    left: 0;
    top: 0;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
    backdrop-filter: saturate(180%) blur(4px);
    background: rgba(255, 255, 255, 0.7);
    z-index: 100;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
